.green-background{
  background-color: rgba(48, 204, 177, 0.85) !important;
  color: black !important;
}

.shadow-line-break{
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100;
  box-shadow: 0 4px 2px -2px gray;
}